body {
    font-family: Arial, sans-serif;
    background-color: rgb(238, 238, 240);
    text-align: center;
    font-size: large;
    padding: 0;
    margin: 0;
}

header {
    background-color: #0086bb;
    color: #fff;
    margin: auto;
    padding: 20px;
    font-size: larger;
}

form {
    background-color: #fff;
    padding: 50px;
    margin: 60px;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input, select, button {
    padding: 10px;
    margin: 5px;
    width: 370px;
}

input, select {
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    font-size: large;
    background-color: #0086bb;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.caixa {
    background-color: white;
    display: inline-block;
    padding: 20px 30px; border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin: 50px;
    padding: 50px;
    width: 450px;
}

.caixa a{
    text-decoration: none;
    color: #0086bb;
}